<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <div th:replace="head :: head"></div>
</head>

<body>

<header>
  <div th:replace="nav :: menu"></div>
  <br>
  <h1><center> --- Store --- </center></h1>
</header>

<main>
  <br>
  <section class="container">
    <div id="grilla-web"></div>

  </section>

</main>

<!-- footer -->
<footer>
  <section class="container-fluid">
    <div th:replace="footer :: footer"></div>
  </section>
</footer>
<!-- footer -->

<!-- Scrípts -->
<script th:inline="javascript">
   var clientes = /*[[${clientes}]]*/ null;
   let container = document.getElementById('grilla-web');
   clientes.forEach(cliente => {
   container.innerHTML = `
   ${container.innerHTML}
  <div class="card"">
    <i class="fa-solid fa-box fa-10x"></i>
    <div class="card-body">
    <input type="hidden"th:text="${cliente.idCliente}">
      <h5 class="card-title">${cliente.nombre}</h5>
      <p class="card-text">${cliente.rut}</a>
      <p class="card-text">${cliente.email}</a>
      <p class="card-text">${cliente.telefono}</a>
      <p class="card-text">${cliente.direccion}</a>
      <br>
      <br>
      <a th:href="@{/cliente/{id}(id=${cliente.idCliente})}"><i class="fa-solid fa-user-pen"></i>editar</a>
    </div>
  </div>
    </card>
  `;
});
   console.log(clientes);
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
<!-- Scrípts -->

</body>
</html>
 
